@CHARSET "ISO-8859-1";
/*
Welcome to Custom CSS!

To learn how this works, see http://wp.me/PEmnE-Bt
*/
body {
	font-family: Georgia, "Times New Roman", serif;
	/** background-color: #d8da3d; **/
	font-size: large;
}

h1 {
	font-family: Georgia, Helvetica, Geneva, SunSans-Regular;
}

h2, h3 {
	font-family: Georgia, Helvetica, Geneva, SunSans-Regular;
	color: blue;
}

p {
	font-size: large;
}

li {
	font-size: large;
}

pre {
	font-size: 16px;
}

.entry-content img.latex {
	box-shadow: none;
	position: relative;
	top: 40px;
	bottom: 4px px;
}